# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual env
venv/
.venv/
env/

# Config
*.local.json

# Logs
*.log
logs/

# Build output
dist/
build/
*.spec

# IDE
.vs/
.vscode/
.idea/

# Debug output
debug_output/

# OS
Thumbs.db
.DS_Store
debug_output/
